@import './normalize';
@import './grid';
@import './variables';

.header {
    text-align: center;
    height: 5rem;
    display: flex;
    align-items: center;
    color: $black;
    background-color: $gray;
    margin-bottom: 2rem;

    h1 {
        font-size: 3rem;
        margin: 0;
    }
}

.error {
    position: relative;
    top: -1.6rem;
    color: $red;
    font-size: 1.2rem;
    height: 1.9rem;
}

.todos {
    list-style: none;

    .todo {
        display: flex;

        .delete {
            width: 2.5rem;
            height: auto;
            margin: 0 0 0 1rem;
            cursor: pointer;
        }
    }
}